.cardcontainer{
    height: 180px;
    width: 190px;
    /* background-color: #ffffff5a; */
    background-color: #f1ebeb5a;
    border-radius: 10px;
    margin: 30px;
}
.heading-card{
    font-size: 25px;
    margin-left: 20px;
    padding-top: 15px;
}
.card-img{
    height: 50px;
    margin-left: 60px;
}
.card-report{
    font-size: 22px;
    margin-left: 20px;
}